REPO_URL=git@github.com:YOUR_USERNAME/DevOps-Task0.git

# ==========================================
# Application Configuration (Frontend & Backend)
# ==========================================
# BackEnd Port (FastAPI / Node.js)
BACKEND_PORT=8000

# FrontEnd Port (React / Vue)
FRONTEND_PORT=3000

# Environment (development / production)
ENVIRONMENT=development

# Secret key
SECRET_KEY=your_secret_key_here